.title {

    font-size: 2em;
    color: #cc38b8;
    background-color: black;
    font-weight: bold;
    padding: 3%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    
}

.box {
    
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
    justify-content: space-between;
}

.table-title {
  
    float: left;
    margin-bottom: 0%;
}

.btn btn-primary {
    float: right;
   
}

.modal-header .close {
    position: absolute;
    font-size: 30px;
    background: none;
    border: none;
    right: 15px;
    z-index: 2;
}

#message {
    display: none;
}

#message.show {
    display: flex;
    justify-content: center;
}

#save-edit {
    margin-top: 3%;
}